@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Style+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7a901;
    position: relative;
}

.sec {
    min-height: 100vh;
    background-size: cover;
    /* background-color: #F99501; */
    background-repeat: no-repeat;
    background-image: url("./images/orangeBg.png");

}

.textAudio {
    font-size: 46px;
    font-family: 'style script';
    max-width: 550px;
    margin-left: 15rem;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
    background-color: #FBD8A4;
    color: #000;
}

.ss {
    width: 30px;
}

.soul {
    font-size: 20px;
}

.audio {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
    gap: 5px;
    border-radius: 45px;
    background-color: #FBD8A4;
    width: min-content;
    padding-left: 20px;
}

audio {
    padding-left: -100px;
}

.soul {
    width: max-content;
    padding: 0 5px;
}

.msg {
    color: black;
}

.bar {
    width: 40px;
    padding-left: 10px;
}

.jhalar {
    width: 230px;
    margin-bottom: -150px;
}

.ganeshji {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.ganeshji>img {
    max-width: 60vw;
    margin-bottom: 10px;
}

.ganeshji>p {
    font-size: 54px;
    font-family: 'style script';
}

.lines {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.line {
    width: 50vw;
}

.girlt {
    display: flex;
}

.girl {
    max-width: 320px;
    height: auto;
}


.box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}

.whitebox>p {
    font-size: 32px;
}

.whitebox {
    background-color: white;
    width: 40vw;
    padding: 90px;
    border-radius: 20px;
    padding-right: 60px;
}

p1,
p2 {
    font-weight: bold;
}

.girl {
    max-width: 250px;
    margin-left: -100px;
}

.i1,
.i2 {
    width: 25vw;
}

.boxg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
    position: relative;

}

.hid {
    display: none;
}

.whiteboxg {
    background-color: white;
    width: 60vw;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.t1 {
    padding-top: 20px;
    font-size: 20px;
}

.t2 {
    padding-top: 20px;
    font-size: 45px;
    padding-left: 5px;
    font-family: 'style script';
}

.footer-credit {
    text-align: right;
    padding: 10px;
}

.cen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.thanks {
    width: 60vw;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
}

@media (max-width:840px) {
    .sec {
        width: auto;
    }

    .textAudio {
        margin-left: 0;
    }

    .audio {
        /* display: none; */
        max-width: 90vw;
        /* margin-left: 10px; */
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .ganeshji>img {
        /* width: 90vw; */
        max-width: 90vw;

    }

    .ganeshji>p {
        font-size: 35px;
        text-align: center;
    }

    .hid {
        display: contents;
    }

    .soul,
    .bar {
        display: none;
    }

    .jhalar {
        width: 180px;
        margin-bottom: -30px;
    }

    .firstd {
        display: block;
        margin-left: auto;
        width: 200px;
    }

    .msg {
        font-size: 30px;
        padding: 20px;
    }

    .secondd {
        display: none;
    }

    .sec {
        min-height: 50vh;
    }

    .box {
        height: 40vh;
        /* background-color: red; */
        padding: 20px;
    }

    .whitebox {
        height: 30vh;
        margin: 0 auto;
        width: 70vw;
        padding: 20px;
    }

    .girl {
        width: 30vw;
        margin-left: -30px;
    }

    .whitebox>p {
        font-size: 16px;
        line-height: 21px;
    }

    .whiteboxg {
        width: 90vw;
    }

    .boxg {
        width: 100%;

    }

    .i1,
    .i2 {
        width: 40vw;
    }
    .thanks{
        padding: 0;
    }
    .cen{
        padding-left: 20px;
        justify-content: flex-start;
}
.t1{
    /* padding-left: 0; */
    text-align: left;
    font-size: 14px;
}
.t2{
    font-size: 24px;
    width: max-content;
}
.hir{
    display: none;
}
}