*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    .sec{
        min-height: 100vh;
        background-size: cover;
        background-color: #F99501;
        background-repeat: no-repeat;
        background-image: url("./diwali/images/orange-backdrop\ 1.png");
    }