@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Style+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    .sec{
        min-height: 100vh;
        background-size: cover;
        background-color: #F99501;
        background-repeat: no-repeat;
        background-image: url("./diwali/images/orange-backdrop\ 1.png");
    }
    .msg{
        font-size: 46px;
    }